.div-support{
    margin-top: 10rem;
    margin-bottom:28rem;
}
@media(max-width: 1920px){
    .div-support{
        margin-top: 10rem;
        margin-bottom: 12rem;
    }
}
@media(max-width: 1440px){
    .div-support{
        margin-top: 10rem;
        margin-bottom: 6rem;
    }
}
@media(max-width: 1024px){
    .div-support{
        margin-top: 10rem;
        margin-bottom: 4rem;
    }
}