.hovr {
  background: radial-gradient(#02656d, #024578) !important;
  color: white !important;
  width: 22rem !important;
}
.bg-custom-color{
  background: black !important;
  color: white !important;
  width: 22rem !important;
}
 
.width-div {
  width: 70rem !important;
}
.eth-img {
  position: absolute;
  right: 0;
  margin-top: -3.5rem;
  margin-right: 0.5rem;
}
@media (max-width: 1024px) {
  .width-div {
    width: 100% !important;
    margin-left: 1rem;
  }
  .hovr {
    background: radial-gradient(#02656d, #024578) !important;
    color: white !important;
    width: 20rem !important;
  }
  .bg-custom-color{
    background: black !important;
    color: white !important;
    width: 20rem !important;
  }
}
@media (max-width: 768px) {
  .width-div {
    width: 100% !important;
  }
  .hovr {
    background: radial-gradient(#02656d, #024578) !important;
    color: white !important;
    width: 22.5rem !important;
  }
  .bg-custom-color{
    background: black !important;
    color: white !important;
    width: 22.5rem !important;
  }
}
@media (max-width: 500px) {
    .width-div {
      width: 22rem!important;
    }
    .hovr {
      background: radial-gradient(#02656d, #024578) !important;
      color: white !important;
      width: 21.5rem !important;
    }
    .bg-custom-color{
      background: black !important;
      color: white !important;
      width: 21.5rem !important;
    }
  }