.font-size {
  font-size: 7rem;
  font-weight: bold;
}
.p-font {
  font-size: 1.1rem;
  width: 40rem;
}
.p-fontbtn {
  font-size: 0.8rem;
}
.padd {
  padding: 50px 0px !important;
  width: 100%;
  height: auto;
}
.pos-img {
  position: absolute;
  margin-left: -40rem;
  width: 20rem;
  margin-top: -13rem;
}
.pos-imgbig {
  position: absolute;
  width: 45rem;
  margin-top: -48rem;
  margin-left: 20rem;
}
.pos-main {
  background-image: url("../images/Main.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 145vh;
}

.topmar {
  margin-top: 15rem;
}
.mbl-hero {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 30rem;
}
 
@media (max-width: 1440px) {
  .topmar {
    margin-top: 2rem;
  }
  .font-size {
    font-size: 4rem;
    font-weight: bold;
  }
  .p-font {
    font-size: 0.8rem;
    width: 32rem;
  }
  .pos-main {
    background-image: url("../images/Main.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 155vh;
  }
  .pos-img {
    position: absolute;
    margin-left: -35rem;
    width: 15rem;
    margin-top: -9rem;
  }
  .pos-imgbig {
    position: absolute;
    width: 28rem;
    margin-top: -26rem;
    margin-left: 10rem;
  }
}
@media (max-width: 1400px) {
  .topmar {
    margin-top: 3rem;
  }
  .font-size {
    font-size: 4rem;
    font-weight: bold;
  }
  .p-font {
    font-size: 0.8rem;
    width: 32rem;
  }
  .pos-main {
    background-image: url("../images/Main.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 90vh;
  }
  .pos-img {
    position: absolute;
    margin-left: -35rem;
    width: 15rem;
    margin-top: -9rem;
  }
  .pos-imgbig {
    position: absolute;
    width: 28rem;
    margin-top: -26rem;
    margin-left: 10rem;
  }
}
@media (max-width: 1300px) {
  .topmar {
    margin-top: 2rem;
  }
  .font-size {
    font-size: 4rem;
    font-weight: bold;
  }
  .p-font {
    font-size: 0.8rem;
    width: 32rem;
  }
  .pos-main {
    background-image: url("../images/Main.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 120vh;
  }
  .pos-img {
    position: absolute;
    margin-left: -35rem;
    width: 15rem;
    margin-top: -9rem;
  }
  .pos-imgbig {
    position: absolute;
    width: 28rem;
    margin-top: -26rem;
    margin-left: 10rem;
  }
}
@media (max-width: 1024px) {
  .pos-imgbig {
    position: absolute;
    width: 22rem;
    margin-top: -25rem;
    margin-left: 10rem;
  }
  .pos-img {
    position: absolute;
    margin-left: -30rem;
    width: 15rem;
    margin-top: -12rem;
  }
  .pos-main {
    background-image: url("../images/Main.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 130vh;
  }
  .topmar {
    margin-top: 2rem;
  }
  .font-size {
    font-size: 3.5rem;
    font-weight: bold;
  }
  .p-font {
    font-size: 0.8rem;
    width: 30rem;
  }
}
@media (max-width: 768px) {
  .pos-img {
    display: none !important;
  }
  .pos-imgbig {
    display: none !important;
  }
  .pos-main {
    background-image: url("../images/Main.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
  }
  .font-size {
    font-size: 2.5rem;
    font-weight: bold;
  }
  .topmar {
    margin-top: 5rem;
  }
  .mbl-hero {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
    width: 100% !important;
  }
  .p-font {
    font-size: 0.8rem;
    width: 25rem;
  }
}
@media(max-width: 500px){
  .p-font {
    font-size: 0.8rem;
    width: 100%;
  }
}