@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
/* globals.css */
/* Import Nunito font from Google Fonts */

/* Add the rest of your global styles here */

/* Add the rest of your global styles here */

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.ant-collapse-header .ant-collapse-arrow svg {
  color: white !important;
  margin-top: 2.2rem !important;
}
.bg-rad {
  background: radial-gradient(#03646e, #023e7e);
  padding: 100px 0px;
  border-radius: 1.5rem;
  width: 100%;
}
.foot-pad {
  padding: 80px 0px;
  width: 75rem;
}
.foot-padline {
  width: 75rem;
}
.radial-text-gradient-01 {
  background: radial-gradient(
    circle farthest-corner at center center,
    white 0%,
    #231421 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  letter-spacing: normal;
  line-height: normal;
}
.use-text{
  font-size: 1rem;
  width: 20rem;
  text-align: center;
}
.martop {
  margin-top: 18rem;
  margin-bottom: 8rem;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.collap {
  width: 60rem;
}
.launch-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 20rem;
}
@media (max-width: 1920px) {
  .martop {
    margin-top: 8rem;
    margin-bottom: 8rem;
  }
}
@media (max-width: 1440px) {
  .martop {
    margin-top: 0rem;
    margin-bottom: 8rem;
  }
}
 
@media (max-width: 1024px) {
  .collap {
    width: 40rem;
  }
  .martop {
    margin-top: -5rem;
    margin-bottom: 8rem;
  }
  .foot-pad {
    padding: 80px 0px;
    width: 100%;
  }
  .foot-padline {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .collap {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .foot-pad {
    padding: 50px 0px;
    width: 100%;
  }
  .foot-padline {
    width: 100%;
  }
  .launch-div {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
    width: 100% !important;
  }
  .use-text{
     font-size: .8rem;
     width: 15rem;
}
}