.ant-input::placeholder {
  color: white !important;
  text-align: center !important;
}
.search-size {
  width: 15rem;
}
.div-ido {
  width: 75rem;
} 
.mar-top {
  margin-top: 3rem;
}
.div-ido-mbl{
  display: none !important;
}
@media (max-width: 1400px) {
  .mar-top {
    margin-top: 2rem;
  }
}
@media (max-width: 1024px) {
  .search-size {
    width: 12rem;
  }
  .div-ido {
    width: 62rem;
  }
}
@media (max-width: 768px) {
  .search-size {
    width: 10rem;
  }
  .div-ido {
    width: 48rem;
  }
}
@media (max-width: 500px) {
  .search-size {
    width: 12rem;
  }
  .div-ido {
     display: none !important;
  }
  .div-ido-mbl{
    display: flex !important;
    flex-direction: column;
  }
}
