.font-size-part {
  font-size: 3rem;
  margin-top: 5rem;
}
.part-font {
  font-size: 0.8rem;
}
.paddPart {
  padding: 50px 0px !important;
  
}
.font-dive {
  font-size: 1rem;
}
.bodr {
  padding: 48px;
  box-shadow: 0 0 1px 1px #353535;
  border-radius: 0.5rem;
  width: 28rem;
}
.med-scr {
  width: 40rem;
  height: 32rem;
}
.mr-top {
  margin-top: 6rem;
 }
 .hero-ab {
  position: absolute;
  margin-top: 0rem;
  width: 100%;
  height: auto;
}
@media (max-width: 1024px) {
  .bodr {
    padding: 32px;
    box-shadow: 0 0 1px 1px #353535;
    border-radius: 0.5rem;
    width: 20rem;
  }
  .med-scr {
    width: 30rem;
    height: 26rem;
  }
  .font-dive {
    font-size: 0.8rem;
  }
  .mr-top {
    margin-top: 2rem;
  }
}
@media (max-width: 768px) {
 
  .med-scr {
    width: 24rem;
    height: 26rem;
     
  }
  .font-dive {
    font-size: 0.8rem;
  }
  .mr-top {
    margin-top: 2rem;
  }
  .hero-ab{
    position: absolute;
    margin-top: -5rem;
    width: 100%;
   height: 150vh;
  }
}
@media (max-width: 500px) {
  .font-dive {
    font-size: 0.8rem;
  }
  .font-size-part {
    font-size: 1.5rem;
    margin-top: 10rem;
  }
  .hero-ab{
    position: absolute;
    margin-top: -5rem;
    width: 100%;
   height: 120vh;
  }
  .med-scr {
    width: 100%;
    height: 100%;
  }
}